<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @appointment.start %>
  <strong>Comp:</strong>
  <%= @appointment.comp %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
